
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 18px;
}


.title {
    background: rgb(59, 68, 77);
    color: whitesmoke;
    text-align: center;
    padding: 25px;
}

body {
    margin: 0 auto;
    max-width: 1024px;
  }

  ::placeholder {
    color: lightslategray
  }
