
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 18px;
}

div > h1 {
    width: 100%;
    display: block; 
    text-align: center;
    background: rgb(59, 68, 77);
    color: whitesmoke;
    font-size: 22px;
    margin: auto;
    padding: 20px 20px;
}

body {
  margin: 0 auto;
}

header {
  border-bottom-style: double;
  border-bottom-color: rgb(59, 68, 77);
  border-bottom-width: 8px;
  text-align: center;
}

header > p {
  font-weight: 400;
  margin-bottom: 30px;
}

fieldset {
  border:none;
}

#contact {
  border-bottom: 2px solid rgb(59, 68, 77);
  background: rgb(235, 179, 237);
  padding: 12px;
}

#contact:hover,
#newsletter:hover {
  border: 2px black solid;
  margin-bottom: 12px;
}

input:hover, 
textarea:hover,
select:hover {
  border: solid black;
}

.legend {
  font-weight: 700;
  font-size: 19px;
  padding-top: 25px;
}

label {
  display: block;
  margin-top: .75rem;
  font-size: .90rem;
  font-weight: 400;
}

input.long,
textarea,
select {
  display: block;
  border: none;
  width: 100%;
  margin: 5px, 0;
  padding: 8px;
  font-size: 18px;
  color: #333;
  background: rgb(233, 231, 231);
  font-family:'Quicksand', sans-serif;
}

  ::placeholder {
    color: lightslategray;
    font-size: 14px;
    font-style: italic;
    padding: 2px;
  }

  input:focus,
  textarea:focus {
    outline: 3px solid rgb(86, 21, 98);
    background: white;
  }

  textarea {
    height: 100%;
    max-width: 432px;
  }

  #zipcode {
    width: 50%;
  }

 label.check,
 label.rad {
    display: inline;
    border: none;
    width: 100%;
    margin: 5px, 0;
    padding: 8px;
}

  button {
    width: 88%;
    max-width: 430px;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: turquoise;
    color: white;
    display: block;
    cursor: pointer;
    text-align: center;
    margin-left: 12px;
  }


  #copyright {
    font-size: 14px;
    text-align: center;
  }

  /* Styles for larger screens */
  @media screen and (min-width: 768px) {
    button,
    textarea {
      width: 100%;
      max-width: 600px;
    } 

    #wrapper {
      max-width: 600px;
      margin: 10px auto;
    }

/* .container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
} */

#contact {
  display: inline-flex;
  flex-direction: row;
}

 }